@page "/home"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider auth
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Esta autorizado</h1>
    </Authorized>
    <NotAuthorized>
        <h2>No esta autorizado</h2>
    </NotAuthorized>
</AuthorizeView>

@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await auth.GetAuthenticationStateAsync();
        var user = authState.User;
    }
}